@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Schrift des gesamten Bodys */
body {
    font-family: 'Raleway', Corbel, Arial, sans-serif;
    color: #191b1d;
}

/* Schriftgröße Paragraphen */
p {
    font-size: 1.2rem;
}

/* Schrift NavBar */
.my-navbar-font .nav-link {
    color: #ffffff;
    font-size: 1.3rem;
}
.my-navbar-font .nav-link:hover {
    color: #f3be29;
}

/* Farbe aktive Seite NavBar */
.active-site {
    color: #f3be29 !important;
    font-weight: bold;
}

/* Abstände zwischen NavBar Elementen */
.navbar-nav li {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
}

/* Style Logging-Button */
.btn-logging {
    color: #ffffff;
    background-color: #226693;
    border-color: #226693;
    border-width: medium;
    font-size: 1.1rem;
}
.btn-logging:hover {
    color: #191b1d;
    background-color: #f3be29;
    border-color: #f3be29;
}
.btn-logging:focus {
    box-shadow: 0 0 0 0.2rem rgba(34, 102, 147, 0.25);
}

/* Hintergrundfarbe NavBar */
.my-navbar-bg {
    background-color: #191b1d
}

/* Header */
.my-header-style {
    padding-top: 3px;
    padding-bottom: 6px;
    background-color: #d9d9d9;
    color: #191b1d;
}
.my-header-style h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* eigene Display-Klasse für Überschriften */
.display-5 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
}

/* Style ReadMore-Button */
.btn-readmore {
    color: #191b1d;
    background-color: #f3be29;
    border-color: #f3be29;
    border-width: medium;
    font-size: 1.1rem;
}
#my-readmore-btn:hover {
    color: #ffffff;
    background-color: #226693;
    border-color: #226693;
}
#my-readmore-btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(243, 190, 41, 0.25);
}

/* Padding für About-Section */
.my-about-padding {
    padding-top: 30px;
}

/* Padding für User-Section */
.my-user-padding {
    padding-bottom: 25px;
}

/* Überschriften im Footer */
.my-footer-bg h5 {
    color: #ffffff;
    font-weight: bold;
}

/* Padding für Logo */
.logo-footer-padding {
    padding-top: 30px;
    padding-bottom: 15px;
}

/* hr Style im Footer */
.my-hr-style {
    height: 1px;
    border: none;
    color: #f3be29;
    background-color: #f3be29;
}

/* Paragraphen im Footer */
.my-footer-bg p {
    color: #ffffff;
    font-size: 1rem;
}

/* Footer Hintergrund */
.my-footer-bg {
    background-color: #191b1d
}

/* Padding für This Is Mio */
.thisIsMio-padding {
    padding-bottom: 16px;
}

/* Footer nach unten setzen (Logging) */
.putdown {
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Überschrift (Logging) */
.logging {
    color: #f3be29;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Style 'forgot your password' (Logging) */
.my-btn-link {
    color: #226693;
    font-weight: bold;
}
.my-btn-link:hover {
    color: #226693;
    text-decoration: underline;
}
.my-btn-link:focus {
    box-shadow: none;
}

/* Hintergrund (Logging) */
.logging-body {
    background-color: #d9d9d9;
}

/* Labels (Logging) */
.my-col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    font-weight: bold;
}

/* Style für Remember Me (Logging) */
.remember-me-label {
    color: #191b1d;
    font-weight: bold;
}

/* Input Focus (Logging) */
.my-input:focus {
    border: 1px;
    box-shadow: 0 0 10px;
}

/* Padding für Buttons (Logging) */
.logging-button-padding {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

/* Style für Textlink (Logging) */
#logging-textlink-padding {
    padding-top: 8px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

/* Schrift Doors Liste (Home) */
.my-list-font .nav-link {
    color: #191b1d;
    font-size: 2.7rem;
    background-color: #d9d9d9;
}
.my-list-font .nav-link:hover {
    color: #226693;
}

/* Scrollbar Doors (Home) */
.my-doors-center {
    overflow: scroll;
    margin-top: 220px;
    height: 430px;
    text-align: center;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

/* Header Username (Home) */
#my-user-header-style {
    border-top: 1px solid #f3be29;
    padding-top: 5px;
    padding-bottom: 8px;
    background-color: #191b1d;
    color: #febe29;
    font-weight: bold;
    font-size: 2.5rem;
}
#my-user-header-style h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* fixed Navbar % Header (Home) */
.my-fixed-position {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Padding für Logo (Home) */
.logo-home-footer-padding {
    padding-top: 15px;
}

.my-home-position {
    margin-top: 220px;
}