@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Schrift des gesamten Bodys */
body {
    font-family: 'Raleway', Corbel, Arial, sans-serif;
    color: #191b1d;
}

/* Schriftgröße Paragraphen */
p {
    font-size: 1.2rem;
}

/* My individual Padding for Navbar */
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5vh 6px;
}

/* List Elements in vertically Center */
.my-li-btn-center {
    display: table-cell;
    vertical-align: middle;
}

/* Size Logo Navbar */
.my-logo-size {
    height: auto;
    width: 26vh;
}

/* Schrift NavBar */
.my-navbar-font .nav-link {
    color: #ffffff;
    font-size: 2.2vh;
}
.my-navbar-font .nav-link:hover {
    color: #f3be29;
}

/* Farbe aktive Seite NavBar */
.active-site {
    color: #f3be29 !important;
    font-weight: bold;
}

/* Abstände zwischen NavBar Elementen */
.navbar-nav li {
    padding: 1vh 5px;
}
.my-li-btn-margin {
    margin-top: 0.12vh;
}

/* Style Logging-Button */
.btn-logging {
    color: #ffffff;
    background-color: #226693;
    font-size: 2.2vh;
}
.btn-logging:hover {
    color: #febe29;
    background-color: #226693;
    font-weight: bold;
    text-decoration: none;
}
.btn-logging:focus {
    box-shadow: 0 0 0 0.2rem rgba(34, 102, 147, 0.25);
}

/* Hintergrundfarbe NavBar */
.my-navbar-bg {
    background-color: #191b1d
}

/* Header */
.my-header-style {
    padding: 5px 0;
    background-color: #d9d9d9;
    color: #191b1d;
    font-size: 3vh;
    margin: 0;
}

/* eigene Display-Klasse für Überschriften */
.display-5 {
    font-size: 5vh;
    font-weight: 500;
    line-height: 1.2;
}

/* Font Style h3 */
.my-welcome-h3-size {
    font-size: 3.2vh;
    font-weight: bold;
}

/* Font-Size Paragraph*/
.my-welcome-p-size {
    font-size: 2.2vh;
}

/* Style ReadMore-Button */
.btn-readmore {
    color: #191b1d;
    background-color: #f3be29;
    font-size: 2.2vh;
    font-weight: bold;
}
#my-readmore-btn:hover {
    color: #f3be29;
    background-color: #226693;
    font-weight: bold;
    text-decoration: none;
}
#my-readmore-btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(243, 190, 41, 0.25);
}

/* Margin für Sections */
.my-margin-welcome-section {
    margin: 10vh 0;
}

/* Padding für About-Section */
.my-about-padding {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

/* Vertically & Horizontally Center */
.my-put-things-in-vertically-and-horizontally-center {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Padding für User-Section */
.my-user-padding {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

/* Style für User Image */
.user-img {
    height: auto;
    width: 16vh;
    margin-bottom: 15px;
}

/* Überschriften im Footer */
.my-footer-bg h5 {
    color: #ffffff;
    font-weight: bold;
}

/* Padding für Logo */
.logo-footer-padding {
    padding-top: 30px;
    padding-bottom: 15px;
}

/* Font-Size Header Footer */
.my-footer-header {
    font-size: 2.2vh;
}

/* hr Style im Footer */
.my-hr-style {
    height: 1px;
    border: none;
    background-color: #f3be29;
}

/* Paragraphen im Footer */
.my-footer-bg p {
    color: #ffffff;
    font-size: 1.8vh;
}

 /* Margin für Paragraphen in Footer */
.my-footer-paragraph-margin {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

/* Footer Hintergrund */
.my-footer-bg {
    background-color: #191b1d;
}

/* Icons Style */
.fa {
    color: #f3be29;
    margin: 2vh 5px;
}
.fa:hover {
    opacity: 0.7;
    color: #f3be29;
    text-decoration: none;
}

/* Put Icons in Center */
.icons-in-center {
    margin-right: auto;
    margin-left: auto;
}

/* Style für This Is Mio */
.thisIsMio-style {
    font-size: 2.2vh;
    padding-bottom: 16px;
}

/* Style Header Logging */
.my-logging-header-style {
    background-color: #191b1d;
}

/* Überschrift (Logging) */
.logging {
    color: #f3be29;
    padding: 1.5vh 0;
}

/* Positioning Logging Content */
.my-logging-content-center {
    position:absolute;
    width: 100%;
    top:42%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/* Style 'forgot your password' (Logging) */
.my-btn-link {
    padding-left: 0;
    color: #226693;
    font-size: 1.8vh;
    font-weight: bold;
}
.my-btn-link:hover {
    color: #226693;
    text-decoration: underline;
}
.my-btn-link:focus {
    box-shadow: none;
}

/* Hintergrund (Logging) */
.logging-body {
    background-color: #d9d9d9;
}

/* Labels (Logging) */
.my-col-form-label {
    padding-top: 0.7vh;
    padding-bottom: 0.9vh;
    margin-bottom: 0;
    font-size: 2vh;
    line-height: 1.5;
    font-weight: bold;
}

/* Style für Remember Me (Logging) */
.remember-me-label {
    color: #191b1d;
    font-size: 1.8vh;
    font-weight: bold;
}

/* My Margin for form-group (Logging) */
.form-group {
    margin-bottom: 2vh;
}

/* My form-control (Logging) */
.form-control {
    display: block;
    width: 100%;
    padding: 0.7vh 12px;
    font-size: 2vh;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    border: 1px;
    box-shadow: 0 0 10px;
}

/* Padding für Buttons (Logging) */
.logging-button-padding {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
}

/* Style für Textlink (Logging) */
#logging-textlink-padding {
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
}

/* Footer nach unten setzen (Logging) */
.putdown {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 333;
}

/* Header Username (Home) */
#my-user-header-style {
    border-top: 1px solid #f3be29;
    padding: 7px 0;
    background-color: #191b1d;
    color: #f3be29;
    font-weight: bold;
    font-size: 3.5vh;
    margin: 0;
}

/* fixed Navbar % Header (Home) */
.my-fixed-position {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/* Padding für Logo (Home) */
.logo-home-footer-padding {
    padding-top: 15px;
}

/* Scrollbar Doors (Home) */
.my-doors-center {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 45%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

/* Style Doors List (Home) */
.my-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}
.my-list li {
    padding: 0.3vh 5px;
}

/* Schrift Doors Liste (Home) */
.my-doors-links .nav-link {
    width: 100%;
    color: #191b1d;
    font-size: 4vh;
    background-color: #d9d9d9;
    border-radius: 4px;
}
.my-doors-links .nav-link:hover {
    color: #f3be29;
    background-color: #226693;
    text-decoration: none;
}

/* Padding für This Is Mio (Home) */
.thisIsMio-padding-home {
    padding-top: 16px;
}

/* Position für body (Home/ManageDoors) */
.my-home-position {
    position: absolute;
    width: 100%;
    top: 48%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Position für body (Home/Blades Business Process) */
.my-home-bp-position {
    position: absolute;
    width: 100%;
    top: 48%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Position für body (Home/Blades Business Process) */
@media screen and (max-width: 500px) {

    .my-home-bp-position {
        position: absolute;
        width: 100%;
        top: 52%;
        left: 50%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

}

/* Doors Header (Home/ManageDoors) */
.my-doors-header {
    text-align: center;
    font-size: 4vh;
}

/* Padding für Links (Home/ManageDoors) */
.padding-manage-links {
    padding: 0.5vh 1vh;
}

/* Links in Hintergrund (Home/ManageDoors) */
.my-links-font {
    z-index: -1;
}

/* Sytle Links (Home/ManageDoors) */
.my-links-font .nav-link {
    width: 100%;
    color: #191b1d;
    font-size: 2.6vh;
    background-color: #d9d9d9;
    border-radius: 6px;
}
.my-links-font .nav-link:hover {
    color: #f3be29;
    background-color: #226693;
    font-weight: bold;
    text-decoration: none;
}

/* Style für Open Button (Home/ManageDoors) */
.my-btn-open {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 3vh 0;
    font-size: 5vh;
    line-height: 1.5;
    border-radius: 12px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
}

/* Margin für Links (Home/ManageDoors) */
.my-margin-for-links-managedoor {
    margin-top: 7vh;
    margin-bottom: 5.2vh;
}

/* Style Open Button (Home/ManageDoors) */
.btn-open {
    color: #191b1d;
    background-color: #f3be29;
    border: #f3be29 solid medium;
}
.btn-open:hover {
    color: #f3be29;
    background-color: #226693;
    border-color: #226693;
    text-decoration: none;
}
.btn-open:focus {
    box-shadow: 0 0 0 0.2rem rgba(217, 217, 217, 0.25);
}

/* Padding für Inputs (Home/ManageDoors/Transactions) */
.padding-search-label {
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    padding-right: 1vh;
    font-size: 2vh;
    line-height: 1;
    font-weight: bold;
}

/* Margin für Inputs (Home/ManageDoors/Transactions) */
.my-transaction-margin {
    margin-top: 5vh;
    margin-bottom: 3vh;
}

/* Style Search-Button (Home/ManageDoor/Transactions) */
.btn-search {
    color: #191b1d;
    background-color: #d9d9d9;
    font-size: 2.2vh;
    font-weight: bold;
}
.btn-search:hover {
    color: #191b1d;
    background-color: #f3be29;
    font-weight: bold;
    text-decoration: none;
}
.btn-search:focus {
    box-shadow: 0 0 0 0.2rem rgba(217, 217, 217, 0.25);
}
.put-btn-right {
    float: right;
}

/* Width Inputs (Home/ManageDoors/Transactions) */
#big-artificial-form .my-username-width, #little-artificial-form .my-username-width {
    min-width: 250px;
    max-width: 350px;
}
#very-little-artificial-form .my-username-width {
    min-width: 200px;
    max-width: 350px;
}
.my-date-width {
    width: 160px;
}

/* Additional Margin for Form (Home/ManageDoors/Transactions) */
#big-artificial-form .my-additional-margin-for-btn, #little-artificial-form .my-additional-margin-for-btn {
    margin-left: 10px;
}

/* Additional Margin Inputs (Home/ManageDoors/Transactions) */
.my-additional-margin-for-input {
    margin: 0.3vh 0;
}

/* Style Transactions Tabelle (Home/ManageDoors/Transactions)  */
.my-table-fixed tbody {
    height: 26vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}
.my-table-fixed thead, .my-table-fixed tbody, .my-table-fixed tr, .my-table-fixed td, .my-table-fixed th {
    display: block;
    font-size: 1.5vh;
}
.my-table-fixed thead > tr > th {
    float: left;
    border-bottom-width: 0;
    color: #f3be29;
    background-color: #226693;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 7px;
}
.my-table-fixed tbody td {
    float: left;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 7px;
    border-bottom-width: 0;
}

/* Text Style NO ROWS FOUND (Home/ManageDoors/Transactions) */
.my-color-grey {
    text-align: center;
    margin-top: 30px;
    color: #d9d9d9;
    font-weight: bold;
}

/* Media Transactions */
@media screen and (min-width: 1450px) {

    #little-artificial-form {
        display: none;
    }
    #very-little-artificial-form {
        display: none;
    }

}
@media screen and (min-width: 501px) and (max-width: 1449px) {

    #big-artificial-form {
        display: none;
    }
    #very-little-artificial-form {
        display: none;
    }

}
@media screen and (max-width: 500px) {

    #big-artificial-form {
        display: none;
    }
    #little-artificial-form {
        display: none;
    }

}

/* Margin between User & Door (Home/ManageDoor/SelectUser/Rights) */
.my-user-door-margin {
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.my-litte-user-header {
    text-align: center;
    font-size: 3.3vh;
    font-weight: bold;
}

/* Schrift Users Liste (Home/ManageDoor/SelectUser) */
.my-user-links .nav-link {
    width: 100%;
    color: #191b1d;
    font-size: 3.5vh;
    background-color: #d9d9d9;
    border-radius: 4px;
}
.my-user-links .nav-link:hover {
    color: #f3be29;
    background-color: #226693;
    text-decoration: none;
}

/* Scrollbar Users (Home/ManageDoor/SelectUser/Rights) */
.my-user-center {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 38vh;
    text-align: center;
    margin-top: 6vh;
}

/* Background für Zugriffsrechte (Home/ManageDoor/SelectUser/Rights) */
.my-rights-bg {
    background-color: #d9d9d9;
    border-radius: 10px;
    min-height: 20vh;
}

/* Padding für Rechte (Home/ManageDoor/SelectUser/Rights) */
.my-rights-box {
    padding-top: 4vh;
    padding-bottom: 4vh;
}
.my-last-right-box {
    padding-bottom: 4vh;
}

/* Padding für Rechte (Home/ManageDoor/SelectUser/Rights/Ext) */
.my-rights-ext-box {
    padding-top: 4.2vh;
    padding-bottom: 4.2vh;
}
.my-last-right-ext-box {
    padding-bottom: 2.2vh;
}

/* Font Style for Rights (Home/ManageDoor/SelectUser/Rights) */
.my-rights-font {
    text-align: center;
    font-size: 2.7vh;
}

/* Toggle Buttons (Home/ManageDoor/SelectUser/Rights) */
.btn-secondary {
    color: #fff;
    font-size: 2vh;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-secondary:hover {
    color: #f3be29;
    font-weight: bold;
    background-color: #5a6268;
    border-color: #545b62;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #f3be29;
    font-weight: bold;
    background-color: #226693;
    border-color: #226693;
}
.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(34, 102, 147, 0.5);
}

/* Put Toggles in Center (Home/ManageDoor/SelectUser/Rights) */
.my-toggles-in-center {
    text-align: center;
}

/* Padding Toggles (Home/ManageDoor/SelectUser/Rights) */
.my-rights-innerbox {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

/* Margin für Save-Button (Home/ManageDoor/SelectUser/Rights) */
.my-margin-for-save {
    margin-top: 2vh;
}

/* Save-Button (Home/ManageDoors/SelectUser/Rights)  */
.btn-save {
    color: #191b1d;
    background-color: #d9d9d9;
    font-size: 2.4vh;
    font-weight: bold;
}
.btn-save:hover {
    color: #f3be29;
    background-color: #226693;
    font-weight: bold;
    text-decoration: none;
}
.btn-save:focus {
    box-shadow: 0 0 0 0.2rem rgba(217, 217, 217, 0.25);
}

/* Style Checkboxes (Home/ManageDoor/SelectUser/Rights) */
.my-checkboxes {
    display: inline-block;
    width: 73px;
    margin: 0 5px;
    font-size: 15px;
    color: #191b1d;
    font-weight: bold;
}
.custom-control {
    position: relative;
    display: block;
    padding: 0;
}
.custom-checkbox .custom-control-input:not(:checked) ~ .custom-control-label::before {
    background-color: #d9d9d9;
    border: 2px solid #ffffff;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #f3be29;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}
.custom-checkbox .custom-control-input:hover ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
    background-color: #ffffff;
    border-color: #ffffff;
}

/* Style Checkboxes */
@media screen and (max-width: 500px){

    .custom-checkbox .custom-control-input:not(:checked) ~ .custom-control-label::before {
        background-color: #d9d9d9;
        border: 2px solid #ffffff;
        transform: scale(0.8);
    }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
        transform: scale(0.8);
        background-color: #f3be29;
    }

}

/* Center Checkboxes (Home/ManageDoor/SelectUser/Rights) */
.my-centered-checkboxes {
    text-align: center;
}

/* Time Slider (Home/ManageDoor/SelectUser/Rights) */
.slidecontainer {
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f3be29;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f3be29;
    cursor: pointer;
}

/* Style Range Value (Home/ManageDoor/SelectUser/Rights/Ext) */
.my-range-value {
    text-align: center;
    font-size: 2.2vh;
    font-weight: bold;
    margin-bottom: 1.2vh;
}

/* Put Error in Center (Home/ManageDoor/SelectUser/Rights/Ext) */
.my-error-in-center {
    text-align: center;
    display: block;
    vertical-align: middle;
    margin: 0;
    color: red;
    font-weight: bold;
    font-size: 1.8vh;
}

/* My Align Content Center */
.my-outer-div-for-center {
    clear: left;
    float: left;
    position: relative;
    left: 50%;
}
.my-inner-div-for-center {
    display: block;
    float: left;
    position: relative;
    right: 50%;
}